html, body {
  height: 100%;
  background-color: black;
}

.main-container {
  text-align: center;
  height : 100%;
  min-height : 100%;
}

.main-row {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.main-row > .p {
  margin-top : 50px;
  margin-bottom : 50px;
}

#main-title,
#set-time-title {
  font-size : 30px;
  color: #ffffff;
  /* font-family : "Comic Sans MS"; */
  font-family : Arial;
  text-transform: capitalize;
  vertical-align: bottom;
  margin-bottom : 0px;
}

label {
  font-size: 20px;
  color: #ffffff;
  /* font-family : "Comic Sans MS"; */
  font-family: Arial;
  text-transform: capitalize;
  vertical-align: bottom;
  margin-bottom: 0px;
}



#link-input-field {
  width : 75%;
}

#start-time, #end-time {
  width: 100%;
}

input[type=text] {
  font-size : 20px;
  padding: 10px 15px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 0px solid black;
  box-shadow: inset 0 0 5px 5px rgb(209, 209, 209);
}

input[type=text]:focus {
  border: 0px solid black;
  box-shadow: inset 0 0 5px 5px rgba(245, 197, 65, 0.527);
}

#generate-button, #show-history-button {
  font-size: 20px;
  font-family: Arial;
  border-radius: 0px;
  padding : 5px 60px;
  margin-top : 5px;
  margin-bottom : 5px;
}

#error-message {
  margin-top : 5px;
  color : hsl(0, 77%, 57%);
  font-family: Arial;
  font-size : 20px;
  font-weight: bold;
}

.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
  display: block;
}

.table-fixed tbody td,
.table-fixed thead>tr>th {
  float: left;
  border-bottom-width: 0;
  text-align: left;
}

.td-white {
  background-color: white;
}

.td-gray {
  background-color: #ccc;
}

.td-blue {
  background-color: hsl(202, 70%, 64%);
}