<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AutoReport</title>
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <!-- <link rel="shortcut icon" href="../img/site_icon.jpg"> -->

    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>


    <link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css"/>

</head>

<body>
    <div class="container main-container">
        <div class="row">
            <div>
                <form method="post" action="/get_history">
                    <p id="set-time-title">Set Your Time Period</p>
                    <div class="form-group">
                        <label for="start-time">Start :</label>
                        <input type="text" class="form-control" id="start-time">
                    </div>
                    <div class="form-group">
                        <label for="end-time">End :</label>
                        <input type="text" class="form-control" id="end-time">
                    </div>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>

    <!-- For Calendar -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/moment-with-locales.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                locale: 'ru',
                stepping: 10,
                format: 'DD.MM.YYYY',
                defaultDate: moment('01.11.2017').format('DD.MM.YYYY'),
                daysOfWeekDisabled: [0, 6]
            });
            $('#datetimepicker2').datetimepicker({
                locale: 'ru'
            });
        });
    </script>
</body>

</html>