<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AutoReport</title>
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <!-- Fonts-icons CSS -->
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- For Ajax update history table -->
    <script src="{{ url_for('static', filename='js/load-history.js') }}"></script>
    <!-- For Calendar -->
    <script src="{{ url_for('static', filename='js/moment-with-locales.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript">
        $(function (){
            $('#startTime').datetimepicker({
                locale: 'ru',
                stepping: 10
            });
            $('#endTime').datetimepicker({
                locale: 'ru',
                stepping: 10
            });
        });
    </script>
</head>

<body>
    <div class="container main-container">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <form>
                    <p id="set-time-title">Set Your Time Period</p>
                    <div class="form-group">
                        <label for="startTime">Start :</label>
                        <input type="text" class="form-control" id="startTime" value="{{ start_default_value }}">
                    </div>
                    <div class="form-group">
                        <label for="endTime">End :</label>
                        <input type="text" class="form-control" id="endTime" value="{{ end_default_value }}">
                    </div>
                    <p id="error-message" style="display:none">Invalid time period</p>
                    <input type="hidden" id="repoLink" value="{{ repo_link }}">            
                    <button id="show-history-button" type="submit" class="btn btn-warning">Show history</button>
                </form>
            </div>
        </div>     
        <div class="row">
            <div class="col-xs-12">
                <table id="history" class="table table-fixed">
                    <thead>
                        <tr>
                            <th class="col-xs-3 td-blue">#</th>
                            <th class="col-xs-3 td-blue">Time</th>
                            <th class="col-xs-3 td-blue">Author</th>
                            <th class="col-xs-3 td-blue">Commit Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for el in history %}
                            <tr>
                            {% if loop.index % 2 == 0 %}
                                <td class="col-xs-3 td-white">{{ loop.index }}</td>
                                <td class="col-xs-3 td-white">{{ el[0] }}</td>
                                <td class="col-xs-3 td-white">{{ el[1][0]["author"] }}</td>
                                <td class="col-xs-3 td-white">{{ el[1][0]["message"] }}</td>
                            {% else %}
                                <td class="col-xs-3 td-gray">{{ loop.index }}</td>
                                <td class="col-xs-3 td-gray">{{ el[0] }}</td>
                                <td class="col-xs-3 td-gray">{{ el[1][0]["author"] }}</td>
                                <td class="col-xs-3 td-gray">{{ el[1][0]["message"] }}</td>
                            {% endif %}                
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <form>
                    <button id="generate-report-button" type="submit" class="btn btn-warning">Generate Report</button>
                     <div class="form-group">
                         <label for="comment">Report:</label>
                         <textarea class="form-control" rows="5" id="report"></textarea>
                     </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>